body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
  padding-top: 110px;
  padding-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #428bca;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
} 

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

#navbar-acesso {
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
    margin-top: 12px;  
 }

.navbar-nav>li{
  margin-left: 10px;
  padding-bottom: 28px;
}

.navbar-default .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #000;
  line-height: 24px;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: #428bca;
    color: #fff;
}

.navbar-default {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #428bca;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #428bca; 
}

.navbar-default .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #428bca;
    color: #fff;
}

.navbar-default .navbar-nav .dropdown-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
}

.navbar-default .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #000;
}

.navbar-default .navbar-nav .dropdown-menu > li > a.dropdown-toggle {
  padding: 8px 15px;
  color: #000;
}

.navbar-default .navbar-nav .dropdown-menu > li:hover > a,
.navbar-default .navbar-nav .dropdown-menu > li:focus > a,
.navbar-default .navbar-nav .dropdown-menu > li.active > a {
  background-color: #428bca;
  color: #fff;
}

.navbar-default .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-default .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#555;
}
.dropdown-submenu.pull-left{
    float:none;
}.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #428bca; 
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

.scroll-to-top {
  line-height: 45px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 4px;
  border: 2px solid #fff;
  background: #428bca; }
  .scroll-to-top:hover, .scroll-to-top:focus {
    color: white; }
  .scroll-to-top:hover {
    background: #292b2c; } 
 
